@{
    ViewData["Title"] = "NoPermission";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top w3-center font-weight-bold"><code>ACCESS DENIED</code></h1>
    <hr class="w3-border-white w3-animate-left">
    <br />
    <h6 class="w3-center w3-animate-zoom font-weight-bold">SORRY! YOU ARE NOT GRANT PERMISSION TO VIEW THIS SCREEN.</h6>
    <br />
    <h3 class="w3-center w3-animate-zoom font-weight-bold">🚫🚫🚫🚫</h3>
    <br />
    <h6 class="w3-center w3-animate-zoom font-weight-bold">ERROR CODE: 403 FORBIDDEN</h6>
</div>

@section CSS{
    <style>
        body {
            background-color: black;
            color: white;
        }

        h1 {
            color: red;
        }

        h6 {
            color: red;
        }
    </style>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
}