@{
    ViewData["Title"] = "NoPermission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>
    <section class="content">
        <div class="card">
            <div class="card-header text-white bg-danger">
                <h3 class="card-title font-weight-bold"><i class="fas fa-times-circle"></i> ERROR 401 - UNAUTHORIZED ACCESS </h3>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </section>
</div>